# Requirements for AgriUrbanAI Backend
fastapi
uvicorn[standard]
pydantic>=2.0.0
python-multipart
python-jose[cryptography]
passlib[bcrypt]

# ML and Data
numpy>=1.26.0
pandas
scikit-learn
xgboost
joblib
seaborn
torch

# Visualization
matplotlib

# AI & Weather
tensorflow-cpu>=2.16.1
python-dateutil
google-generativeai
google-genai
twilio
python-dotenv
requests
apscheduler
